* {
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --title-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* -------- common -------- */

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
}

.section__title {
    display: block;
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.container {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.section__heading {
    color: var(--title-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.row {
    display: flex;
    align-items: center;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    font-size: 2.4rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 2px;
    margin-left: 6px;
}

/* button */

.btn {
    display: inline-block;
    --height: 60px;
    --width: 189px;
    --color: #fff;
    --background: var(--primary-color);
    min-width: var(--width);
    border-radius: 31px;
    background: var(--background);
    text-align: center;
    line-height: var(--height);
    color: var(--color);
    border: 1px solid var(--color);
}

/* --------- header ----------- */

.header__navbar {
    display: flex;
    padding: 26px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 0 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    flex-shrink: 0;
    transition: transform 0.2s;
}

.navbar__link:not(.active):hover {
    transform: scale(1.05);
}

.navbar__link.active {
    color: var(--title-color);
}

.btn-signup {
    --width: 117px;
    --height: 50px;
    --background: #fffaf5;
    --color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-signup:hover {
    text-decoration: underline;
}

/* ----------- hero ---------- */

.header__hero {
    padding: 74px 0 148px;
}

.header__hero-row {
    align-items: normal;
}

.hero__media {
    position: relative;
    max-width: 551px;
}

.hero__img-wrap {
    background: #fe997b;
    width: 388px;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 16px;
    border: 2px solid #fff;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    bottom: 10px;
    left: -56px;
}

.hero__decor-right {
    top: 16px;
    right: -40px;
}

.hero__img-wrap-small {
    position: absolute;
    bottom: -58px;
    right: -162px;
    width: 186px;
    height: 244px;
    background: rgb(250, 167, 173);
    border: 2px solid #ffe3fd;
}

.hero-sticky {
    position: absolute;
    left: 129px;
    bottom: -94px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-sticky__inner {
    padding: 19px 17px;
    min-width: 250px;
}

.hero-sticky__item {
    display: flex;
}

.hero-sticky__img-bg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero-sticky__img-bg-2 {
    background-color: #c6e2fa;
}

.hero-sticky__title {
    position: relative;
    color: var(--title-color);
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 9px;
}

.hero-sticky__title::before {
    position: absolute;
    bottom: 3px;
    content: "";
    display: block;
    width: 39px;
    height: 4px;
    background: rgb(0, 9, 88, 0.08);
    border-radius: 99px;
}

.hero-sticky__title::after {
    position: absolute;
    bottom: 13px;
    content: "";
    display: block;
    width: 118px;
    height: 4px;
    background: rgb(0, 9, 88, 0.08);
    border-radius: 99px;
}

.hero-sticky__line {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero__content {
    max-width: 517px;
    margin-top: 145px;
    margin-left: auto;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    width: 500px;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero-cta {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero-cta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: opacity 0.25s;
}

.hero-cta__btn:hover {
    opacity: 0.9;
}

.hero-btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

.hero-cta__text {
    color: var(--title-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

/* -------- About --------- */

.about {
    padding: 61px 0 185px;
}

.group-name {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__content {
    max-width: 477px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__form {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}

.about-form__row {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.about-form__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about-form__label::before,
.about-form__label::after {
    content: "";
    display: inline-block;
}

.about-form__label::before {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 5px;
}

.about-form__label::after {
    position: absolute;
    height: 6px;
    width: 12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 6px;
    left: 5px;
    rotate: -45deg;
}

.about__media {
    margin-top: 215px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.about__background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 336px;
    width: 494px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: -66px;
    right: -50px;
    z-index: -1;
}

.about__sticky {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 999;
    left: -92px;
    top: -58px;
}

.about__sticky-statistic {
    color: #fff;
    font-family: sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__sticky-desc {
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    width: 83px;
    text-align: center;
}

.about__sticky-decor {
    position: absolute;
    right: -31px;
    top: -40px;
}

.about__row-2 {
    margin-top: 146px;

    column-gap: 127px;
}

.about__media-bottom {
    position: relative;
}

.about-bot-decor-1,
.about-bot-decor-2,
.about-bot-decor-3,
.about-bot-decor-4,
.about-bot-decor-5,
.about-bot-decor-6 {
    position: absolute;
    z-index: 1;
}

.about-bot-decor-1 {
    top: 12px;
    right: 63px;
}

.about-bot-decor-2 {
    top: -16px;
    right: 13px;
}

.about-bot-decor-3 {
    top: 33px;
    right: -21px;
}

.about-bot-decor-4 {
    top: 268px;
    right: -33px;
}

.about-bot-decor-5 {
    top: 336px;
    right: 19px;
}

.about-bot-decor-6 {
    top: 435px;
    right: -42px;
}

.about__img-bottom {
    border: 2px solid #fff;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.about__heading-bottom {
    max-width: 543px;
}

.about__desc-bottom {
    max-width: 511px;
}

.tab__list {
    position: relative;
    margin-top: 52px;
    padding-bottom: 10px;
    display: flex;
    min-width: 557px;
    align-items: center;
    justify-content: space-between;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    height: 2px;
    opacity: 1;
}

.tab__item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab__item-title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    max-width: 391px;
    margin-top: 36px;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
    margin-top: 32px;
}

.tab__content-more::after {
    position: absolute;
    width: 86px;
    height: 1.5px;
    opacity: 1;
}

/* ------- Services -------- */

.services {
    background: #fff6ed;
    padding: 68px 0 139px;
}

.about__title {
    display: block;
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
    text-align: center;
    margin-top: 15px;
}

.services-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    margin-top: 71px;
}

.services-list__left {
}

.services__item {
    width: 294px;
    padding: 30px 28px 26px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__item + .services__item {
    margin-top: 24px;
}

.service-item__title {
    position: relative;
    color: #000958;
    padding-left: 12px;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__title::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    border-radius: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    top: 0;
    left: 0;
    bottom: 0;
}

.services-item__desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 18px;
}

.services-item__more {
    display: inline-flex;
    gap: 6px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 20px;
    padding: 4px 0;
}

.services-item__more:hover {
    text-decoration: underline;
}

.services-list__media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    translate: 0 39px;
}

.services__media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__media-img {
    display: inline-block;
    width: 447px;
}

.services__btn {
    margin-top: 45px;
    --width: 214px;
    --height: 56px;
    --background: transparent;
    --color: var(--primary-color);
}

.services__btn:hover {
    text-decoration: underline;
}

/* ------- Team -------- */

.team {
    padding: 130px 0;
}

.team__heading {
    text-align: center;
    margin-top: 15px;
}

.team__list {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 78px;
}

.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.team-item__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.team-item__img-wrap::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 94%;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    z-index: -99;
}

.team-item:nth-child(1) .team-item__img-wrap::before {
    background-image: url(../img/team-curve-img-1.svg);
    bottom: 0;
}

.team-item:nth-child(1) .team-item__img-wrap::after {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.team-item:nth-child(2) .team-item__img-wrap::before {
    background-image: url(../img/team-curve-img-2.svg);
    top: 20px;
}
.team-item:nth-child(2) .team-item__img-wrap::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.team-item:nth-child(3) .team-item__img-wrap::before {
    background-image: url(../img/team-curve-img-3.svg);
    bottom: 0;
}

.team-item:nth-child(3) .team-item__img-wrap::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.team-item:nth-child(4) .team-item__img-wrap::before {
    background-image: url(../img/team-curve-img-4.svg);
    top: 20px;
}

.team-item:nth-child(4) .team-item__img-wrap::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.team-item__img-wrap::before {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    width: calc(100% + 36px);
    height: 109px;
    z-index: 99;
    background-size: 100%;
}

.team-item__img {
    display: inline-block;
    width: 100%;
    border-radius: 129.5px;
}

.team-item__regency {
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 29px;
}

.team-item__name {
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 14px;
}

.team__cta {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.team__btn {
    --width: 193px;
    --height: 56px;
    --background: transparent;
    --color: var(--primary-color);
}

.team__btn:hover {
    text-decoration: underline;
}

/* ------- pricing -------- */

.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing-top {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.pricing__desc {
    max-width: 709px;
    text-align: center;
    margin-top: 24px;
}

.pricing__switch {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgb(255, 91, 46, 0.6);
}

.pricing__switch-btn {
    display: inline-block;
    line-height: 56px;
    width: 131px;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 31px;
}

.pricing__switch-btn.pricing__switch-btn--active {
    color: #fff;
    background: var(--primary-color);
}

.pricing__save-15 {
    position: absolute;
    right: -110px;
    top: -10px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    padding: 0 88px;
}

.pricing__item {
    padding: 30px 28px 42px;
    background: #fff;
    border-radius: 20px;
    margin-top: 56px;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-package__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-package__name {
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin: 8px 0 24px;
}

.pricing-package__unit,
.pricing-package__price {
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 34px;
}

.pricing-package__unit {
    font-size: 3.4rem;
}

.pricing-btn {
    display: block;
    color: var(--primary-color);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    width: 100%;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    transition: background-color 0.25s, color 0.25s;
    margin-top: 22px;
}

.pricing-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.pricing-package__list {
    margin-top: 24px;
}

.pricing-package__item {
    display: flex;
    align-items: center;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-package__item-disable::before {
    opacity: 0.4;
}

.pricing-package__item + .pricing-package__item {
    margin-top: 18px;
}

.pricing-package__item::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 5px;
    border-left: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    rotate: -45deg;
    margin-bottom: 4px;
    margin-right: 8px;
}

/* ------ Reviews ------ */

.reviews {
    padding: 130px 0 65px;
}

.reviews-inner {
    display: flex;
    align-items: center;
}

.reviews__avatar {
    position: relative;
    display: flex;
    width: 274px;
    margin-left: 44px;
    translate: 0 -30px;
}

.reviews__avatar::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.reviews__avatar-img {
    display: inline-block;
    width: 100%;
    border-radius: 137px;
}

.reviews__content {
    margin-left: auto;
}

.reviews__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.reviews__desc {
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
    max-width: 553px;
    margin-top: 24px;
}

.reviews__name {
    display: flex;
    align-items: center;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 34px;
}

.reviews__name::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    margin-right: 8px;
}

.reviews__cta {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 56px;
}

.reviews__cta-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.reviews__cta-dot--active,
.reviews__cta-dot:hover {
    background: var(--primary-color);
}

.reviews__cta-dot--active {
    width: 24px;
}

.reviews__slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: color 0.25s, background-color 0.25s;
    translate: 0 50%;
}

.reviews__slide-btn:last-of-type {
    margin-left: 76px;
}

.reviews__slide-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

/* ------ blog ------ */

.blog {
    padding: 65px 0 131px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__text {
    margin-right: 73px;
}

.blog__desc {
    max-width: 350px;
}

.blog__btn {
    margin-top: 24px;
    --height: 56px;
    --width: 182px;
    --background: #fffaf5;
    --color: var(--primary-color);
}

.blog__btn:hover {
    text-decoration: underline;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item__img-wrap {
    position: relative;
    width: 100%;
    height: 362px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__time {
    display: inline-block;
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 26px 0 0 36px;
}

.blog-item__img {
    position: absolute;
    display: inline-block;
    width: 90%;
    height: 296px;
    object-fit: cover;
    bottom: 0;
    right: 0;
}

.blog-item__info {
    margin-top: 28px;
}

.blog-item__title {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-item__desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 16px;
    letter-spacing: 0.09px;
}

/* -------- Footer -------- */

.footer {
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
    position: relative;
    display: flex;
    column-gap: 190px;
}

.footer__left {
    width: 42.7%;
    padding: 114px 0 141px;
}

.footer-form {
    position: relative;
    width: 50%;
}

.footer-form__input {
    width: 100%;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    outline: none;
    padding-left: 22px;
    color: #656689;
    margin-top: 34px;
}

.footer-form__input::placeholder {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.footer-form__submit {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: opacity 0.25s;
    cursor: pointer;
}

.footer-form__submit:hover {
    opacity: 0.8;
}

.footer-form__icon-arrow {
    color: #fff;
    rotate: 180deg;
    margin: 0 auto;
}

.footer-left__title {
    display: inline-block;
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
    margin-top: 68px;
}

.footer-social {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    transition: opacity 0.25s;
}

.footer-social__link:hover {
    opacity: 0.8;
}

/* footer right */

.footer__right {
    width: 57.3%;
    margin-top: 52px;
}

.footer__row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer__column {
    display: inline-flex;
    flex-direction: column;
}

.footer__heading {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
    margin-bottom: 14px;
}

.footer__item-link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
}

.footer__item-link:hover {
    text-decoration: underline;
}

.footer__copyright-text {
    position: absolute;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    bottom: 48px;
    left: 50%;
    translate: -50% 0;
    opacity: 0.5;
}
